@charset "UTF-8";


/*Estilo retrato (portrait)*/

body {
    background: url(../imagens/cev-portrait.jpg);
    background-size: contain; /*o cover corta a cabeça*/
   background-repeat: no-repeat;
   background-position: center bottom;
}