@charset "UTF-8";

/*Versão Mobile First*/

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
}

body {
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    background-color: rgba(254, 239, 233, 0.683);
    width: 90vw;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 1.1em;
}

img {
    display: block;
    margin: auto;
}

img#phone { display: block; }
img#tablet { display: none; }
img#print { display: none; }
img#pc { display: none; }
img#tv { display: none; }